
<!DOCTYPE html>
<html>
<head>
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
</head>
<body>

<h1 style="font-family: arial">Welcome to our site! Have a look at our bot at bottom right corner</h1>

<df-messenger
  intent="WELCOME"
  chat-title="HealthcareChatbot"
  agent-id="97e13bcd-e785-41a7-984a-bff4b8361107"
  language-code="en"
   chat-icon="https://www.flaticon.com/premium-icon/icons/svg/1698/1698586.svg"
>
</df-messenger>


</body>
</html>

