
<!DOCTYPE html>
<html>
<head>
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
</head>
<body>

<h1 style="font-family: arial">Welcome to our site! Have a look at our bot at bottom right corner</h1>

<df-messenger
  intent="WELCOME"
  chat-title="HealthBot"
  agent-id="a573426e-8334-4130-8c0b-d0f603d133c3"
  language-code="en"
  chat-icon="https://www.flaticon.com/premium-icon/icons/svg/1698/1698586.svg"
></df-messenger>


</body>
</html>

